In [4]:
import pandas as pd
import math as m
import numpy as np

In [5]:
df = pd.read_excel("tsp_instance.xlsx")
df.head()

   name    x  y
0     1  0.0  0
1     2  0.0  1
2     3  0.5  1
3     4  0.5  0

In [59]:
def distance(df):
    dist = {}
    j = 0
    k = 1
    n = len(df)
    while j < n-1:
        d = m.sqrt((df.loc[j, "x"] - df.loc[k, "x"])**2 + (df.loc[j, "y"] - df.loc[k, "y"])**2)
        dist[(j, k)] = d
        dist[(k,j)] = d
        k = k + 1
        if k == n:
            j = j + 1
            print (j)
            k = j + 1
    
    print (dist)

distance(df)

1
2
3
{(0, 1): 1.0, (1, 0): 1.0, (0, 2): 1.118033988749895, (2, 0): 1.118033988749895, (0, 3): 0.5, (3, 0): 0.5, (1, 2): 0.5, (2, 1): 0.5, (1, 3): 1.118033988749895, (3, 1): 1.118033988749895, (2, 3): 1.0, (3, 2): 1.0}

In [67]:
def nearest_neighbor():
    totaal = 0
    kortste = 100 
    naar_stad = 0 
    i = 0
    j = [0]
    n = len(df)
    while i < n:
        for k in range(n):
            if j[i-1] !=k:
                if j[i] != k:
                    afstand = dist[(k,j[i])]
                    print (afstand, j[i], k)
                    if afstand < kortste:
                        kortste = afstand
                        naar_stad = k
        print(f'vanaf stad {j[i]} is stad {naar_stad} het dichtste bij')
        totaal = totaal + kortste
        print (f'de totale afstand is {totaal}')
        i = i + 1
        kortste = 100
        k = 0
        j.append(naar_stad)
    print (f'de route is {j}')

nearest_neighbor()

1.0 0 1
1.118033988749895 0 2
0.5 0 3
vanaf stad 0 is stad 3 het dichtste bij
de totale afstand is 0.5
1.118033988749895 3 1
1.0 3 2
vanaf stad 3 is stad 2 het dichtste bij
de totale afstand is 1.5
1.118033988749895 2 0
0.5 2 1
vanaf stad 2 is stad 1 het dichtste bij
de totale afstand is 2.0
1.0 1 0
1.118033988749895 1 3
vanaf stad 1 is stad 0 het dichtste bij
de totale afstand is 3.0
de route is [0, 3, 2, 1, 0]